<div class="login clearfix">
  <div class="content">
    <div class="pull-right">
        <%= render 'shared/devise_menu' %>
    </div>
  </div>
</div>
<div class="header clearfix">
  <div class="content">
    <div class="  ">
      <div class="clearfix">
        <div class="pull-left"> <%= image_tag 'logo.png' %>  </div>
        <%= render partial: 'shared/mainnav' %>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="slogan">
    <%= image_tag 'banner.jpg' %>
  </div>
</div>

<object style="height:0px;width:0px;overflow:hidden;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="0" height="0" id="asound_top" align="absmiddle"> <param name="allowScriptAccess" value="always" /> <param name="movie" value="http://www.iciba.com/top/asound.swf" /> <param name="quality" value="high" /> <embed src="http://www.iciba.com/top/asound.swf" quality="high" width="0" height="0" name="asound_top" align="absmiddle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /> </object>
