.login{
  padding: 6px 0;
  background-color: #3D4053;
}
.login a {
  color: white;
  padding: 6px 12px;
  text-decoration: none;
}

.header {
  background-color: #EFEFEF;
  padding: 8px 0;
}
.header a {
  color: #3D4053;
  padding: 6px 12px;
  text-decoration: none;
}
.slogan {
  padding: 8px 0;
  background-color: #59BCE6;
}

.subject{
  background-color: #f7f7f7;
  text-align: center;
  margin: 12px 0;
  padding: 24px;
}
.subject .name{
  padding: 8px;
  font-size: 140%;
}
.subject .word_count{
  padding: 8px;
  font-size: 140%;
}

.footer{
  padding: 8px 0;
  text-align: center;
  color: white;
  background-color: #3D4053;
}
