/* flash object */
#asound_top{ display: none;}

.login{
  padding: 6px 0;
  background-color: #3D4053;
}
.devise_menu{ list-style: none; margin: 0; padding: 0; }

.devise_menu li{
  float: left;
}
.devise_menu a {
  color: white;
  padding: 6px 12px;
  text-decoration: none;
}

.header {
  background-color: #EFEFEF;
  padding: 8px 0;
}
.header a {
  color: #3D4053;
  padding: 6px 12px;
  text-decoration: none;
}
.slogan {
  background-color: #59BCE6;
}
.slogan img{ width: 100%; }

.col4{
  margin-right: 20px;
  width: 300px;
  float: left;
}
.col4.last{
  margin-right: 0px;
}
.col3{
  margin-right: 20px;
  width: 220px;
  float: left;
}


.subject{
  background-color: #f7f7f7;
  text-align: center;
  margin: 12px 0;
  padding: 24px;
}
.subject .name{
  padding: 8px;
  font-size: 140%;
}
.subject .word_count{
  padding: 8px;
  font-size: 140%;
}

.footer{
  padding: 8px 0;
  text-align: center;
  color: white;
  background-color: #3D4053;
}

.lesson .lft{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  width:100px;
}
.lesson .rgt{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width:100px;
}

.words{
  min-width: 600px;
  padding: 50px 100px;
}
.word.inactive{
  display: none;
}

.word .center{
  text-align: center;
}
.word span.position{
  color:white;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #0099DB;
}

.word span.spelling{
  font-size: 45pt;
}
.word span.meanings{

}
.word span.phonetic{
  color:gray;
}
.word span.pronunciation{
  color:transparent;
}
.word span.pronunciation_uk{
  padding-right: 30px;
}
.word span.pronunciation a{
  background:transparent asset-url( 'speaker-red.png')  no-repeat left center ;
  text-decoration: none;
  color:transparent;
  vertical-align: middle;
}
.word span.pronunciation a.op-sound-man{
  background:transparent asset-url( 'speaker-blue.png')  no-repeat left center ;
}

.word span.pronunciation a:hover{
  /* background: transparent asset-url( 'speaker-blue.png') no-repeat left center ;*/
}

.word  .op-card{
  padding: 6px 12px;
  background-color: #DCDDDD;
  text-decoration: none;
  color:black;
}

.word .card{
  display: none;
}
