<!DOCTYPE html>
<html>
<head>
  <title>十万火词</title>
  <%= render 'shared/head' %>
</head>
<body>
  <div class="">
    <%= render 'shared/header' %>
    <div class="content">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
